{
  "repos": [
    {
      "repoPath": "../../repo-1",
      "label": "repo-1",
      "ref": "upstream/main",
      "filterLogs": {
        "pattern": "publish$",
        "invert": true
      }
    }
  ],
  "options": {
    "since": "7 days ago",
    "fakeInitialCommit": true
  }
}
